.twae-horizontal.swiper-container {
  position: unset;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 10;
  margin: 0 32px;
}
.twae-horizontal .twae-year-container {
  position: absolute;
  display: table;
  text-align: center;
  top: 96px;
  left: 10px;
  height: 36px;
  width: 72px;
  vertical-align: middle;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  table-layout: fixed;
  word-break: break-word;
}
.twae-horizontal .twae-year-label {
  padding: 2px;
  vertical-align: middle;
  display: table-cell;
}
.twae-horizontal .twae-label-extra-label {
  position: absolute;
  display: table;
  width: 100%;
  height: 80px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.twae-horizontal .twae-label-extra-label div {
  display: table-cell;
  vertical-align: bottom;
}
.twae-horizontal .twae-label-extra-label .twae-extra-label,
.twae-horizontal .twae-label-extra-label .twae-label {
  display: inline-block;
  width: 100%;
}
.twae-horizontal .twae-icon {
  color: #fff;
  width: 40px;
  height: 40px;
  top: 94px;
  left: calc(50% - 20px);
  text-align: center;
  position: absolute;
  display: block;
  z-index: 100;
  border-radius: 50%;
}
.twae-horizontal .twae-icon i {
  line-height: 40px;
  font-size: 26px;
}
.twae-horizontal .twae-icon:empty {
  width: 24px;
  height: 24px;
  top: 102px;
  left: calc(50% - 12px);
}
.twae-horizontal .twae-story-info:before {
  content: "";
  display: block;
  border: 13px solid transparent;
  position: absolute;
  left: calc(50% - 13px);
  left: -moz-calc(50% - 1em);
  left: -webkit-calc(50% - 13px);
  left: -o-calc(50% - 13px);
  top: -28px;
}
.twae-horizontal .twae-story-info {
  padding: 0;
  margin: 150px 4px 10px;
  justify-content: center;
  border-top: 4px solid;
  position: relative;
  transition: all 0.2s ease-in;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: calc(100% - 160px);
}
.twae-horizontal .twae-timeline-img,
.twae-horizontal .twae-timeline-img img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.twae-horizontal .twae-description,
.twae-horizontal .twae-title {
  display: inline-block;
  width: 100%;
  margin: 0;
  line-height: 1.2em;
}
.twae-horizontal .twae-title {
  padding: 8px 8px 0;
  font-size: 20px;
}
.twae-horizontal .twae-description {
  padding: 8px;
  font-size: inherit;
}
.twae-horizontal .twae-pagination.swiper-pagination-progressbar {
  position: absolute;
  top: 112px;
  margin: 0 32px;
  width: calc(100% - 64px);
  z-index: 0;
}
.twae-horizontal
  .twae-pagination.swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: rgba(0, 0, 0, 0.25);
}
.twae-horizontal .twae-button-next,
.twae-horizontal .twae-button-prev {
  position: absolute;
  font-size: 40px;
  top: 94px;
  cursor: pointer;
  line-height: 0;
}
.twae-horizontal .twae-button-prev {
  left: -10px;
}
.twae-horizontal .twae-button-next {
  right: -10px;
}
.twae-button-next.swiper-button-disabled,
.twae-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-slide.auto-height {
  height: auto;
}
