.twae-vertical:after,
.twae-vertical:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #222;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 12px);
  z-index: 9;
}
.twae-vertical:before {
  top: -10px;
}
.twae-vertical:after {
  bottom: 20px;
}
.twae-timeline-centered {
  position: relative;
  margin-bottom: 30px;
  padding-top: 20px;
}
.twae-vertical span.twae-year-container:first-child {
  margin-top: 0 !important;
}
.twae-timeline-centered.twae-timeline-sm .twae-timeline-entry {
  margin-bottom: 20px !important;
}
.twae-timeline-centered.twae-timeline-sm
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container {
  padding: 0.85em;
}
.twae-timeline-centered:after,
.twae-timeline-centered:before {
  content: " ";
  display: table;
}
.twae-timeline-centered:after {
  clear: both;
}
.twae-timeline-centered:before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -4px;
}
.twae-timeline-centered .twae-timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}
.twae-timeline-centered .twae-timeline-entry:after,
.twae-timeline-centered .twae-timeline-entry:before {
  content: " ";
  display: table;
}
.twae-timeline-centered .twae-timeline-entry:after {
  clear: both;
}
.twae-timeline-centered .twae-timeline-entry.twae-left-aligned {
  float: left;
}
.twae-timeline-centered
  .twae-timeline-entry.twae-left-aligned
  .twae-timeline-entry-inner {
  margin-left: 0;
  margin-right: -22px;
}
.twae-timeline-centered
  .twae-timeline-entry.twae-left-aligned
  .twae-timeline-entry-inner
  .twae-label-extra-label {
  left: auto;
  right: -100%;
  text-align: left;
}
.twae-timeline-centered
  .twae-timeline-entry.twae-left-aligned
  .twae-timeline-entry-inner
  .twae-icon {
  float: right;
}
.twae-timeline-centered
  .twae-timeline-entry.twae-left-aligned
  .twae-timeline-entry-inner
  .twae-data-container {
  margin-left: 0;
  margin-right: 70px;
}
.twae-timeline-centered
  .twae-timeline-entry.twae-left-aligned
  .twae-timeline-entry-inner
  .twae-data-container:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.twae-timeline-centered .twae-timeline-entry .twae-timeline-entry-inner {
  position: relative;
  margin-left: -27px;
}
.twae-timeline-centered .twae-timeline-entry .twae-timeline-entry-inner:after,
.twae-timeline-centered .twae-timeline-entry .twae-timeline-entry-inner:before {
  content: " ";
  display: table;
}
.twae-timeline-centered .twae-timeline-entry .twae-timeline-entry-inner:after {
  clear: both;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-label-extra-label {
  position: absolute;
  left: -100%;
  width: 100%;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-label-extra-label
  > span {
  display: block;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-label-extra-label
  > span:first-child {
  font-size: 1em;
  font-weight: 700;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-label-extra-label
  > span:last-child {
  font-size: 0.75em;
  margin-top: 5px;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-icon {
  display: block;
  width: 48px;
  height: 48px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 50%;
  text-align: center;
  border: 4px solid;
  line-height: 0;
  font-size: 0;
  float: left;
  padding: 0;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-icon
  i {
  line-height: 38px;
  font-size: 22px;
}
.twae-vertical .twae-timeline-centered .twae-data-container {
  display: flow-root;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container {
  position: relative;
  padding: 1.7em;
  margin-left: 70px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container.twae-bg-orange:after {
  border-color: transparent #e9662c transparent transparent;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  left: 0;
  top: 14px;
  margin-left: -9px;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container
  .twae-title,
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container
  p {
  margin: 0;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container
  p
  + p {
  margin-top: 15px;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container
  .twae-title {
  margin-bottom: 10px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-timeline-entry-inner
  .twae-data-container
  .twae-title
  span {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.twae-timeline-centered
  .twae-timeline-entry
  .twae-data-container
  .twae-timeline-img
  img {
  float: left;
  padding: 0 5px 0 0;
}
.twae-timeline-centered .twae-year-container .twae-year-label {
  border-radius: 6px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  padding: 7px 14px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.twae-timeline-centered .twae-year-container {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
.twae-timeline-centered .twae-year-container:after,
.twae-timeline-centered .twae-year-container:before {
  content: "";
  display: table;
}
.twae-timeline-centered .twae-year-container:after {
  clear: both;
}
.twae-vertical .twae-timeline-centered .twae-year {
  border: 2px solid;
}
@media only screen and (max-width: 768px) {
  .twae-vertical:after,
  .twae-vertical:before {
    left: 10px;
  }
  .twae-timeline-centered:before {
    left: 22px;
  }
  .twae-timeline-centered .twae-year-container {
    padding-left: 54px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .twae-timeline-centered .twae-timeline-entry .twae-timeline-entry-inner {
    margin-left: 0;
  }
  .twae-timeline-centered
    .twae-timeline-entry.twae-left-aligned
    .twae-timeline-entry-inner {
    margin-right: 0;
  }
  .twae-timeline-centered
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-label-extra-label {
    position: relative;
    left: 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    padding-left: 54px;
  }
  .twae-timeline-centered
    .twae-timeline-entry.twae-left-aligned
    .twae-timeline-entry-inner
    .twae-label-extra-label {
    right: 0;
  }
  .twae-timeline-centered .twae-timeline-entry {
    width: 100%;
  }
  .twae-timeline-centered
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-icon {
    width: 40px;
    height: 40px;
    line-height: 28px;
    font-size: 18px !important;
  }
  .twae-timeline-centered
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-icon
    i {
    font-size: 18px !important;
    line-height: 31px;
  }
  .twae-timeline-centered
    .twae-timeline-entry.twae-left-aligned
    .twae-timeline-entry-inner
    .twae-icon {
    float: left;
  }
  .twae-timeline-centered
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-data-container,
  .twae-timeline-centered
    .twae-timeline-entry.twae-left-aligned
    .twae-timeline-entry-inner
    .twae-data-container {
    margin-left: 54px;
    margin-right: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
  .twae-timeline-centered
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-data-container:after {
    top: 10px;
  }
  .twae-timeline-centered
    .twae-timeline-entry.twae-left-aligned
    .twae-timeline-entry-inner
    .twae-data-container:after {
    left: 0;
    right: auto;
    margin-left: -9px;
    margin-right: 0;
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 769px) {
  .twae-timeline-centered.twae-one-sided-timeline:before {
    left: 24%;
  }
  .twae-timeline-centered.twae-one-sided-timeline .twae-year-container {
    text-align: right;
    padding-right: 80%;
  }
  .twae-timeline-centered.twae-one-sided-timeline .twae-timeline-entry {
    width: 100%;
    float: left;
  }
  .twae-timeline-centered.twae-one-sided-timeline
    .twae-timeline-entry
    .twae-timeline-entry-inner {
    margin-left: 0;
  }
  .twae-timeline-centered.twae-one-sided-timeline
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-data-container {
    margin-left: 31%;
  }
  .twae-timeline-centered.twae-one-sided-timeline
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-icon {
    margin-left: calc(24% - 25px);
  }
  .twae-timeline-centered.twae-one-sided-timeline
    .twae-timeline-entry
    .twae-timeline-entry-inner
    .twae-label-extra-label {
    left: -2%;
    width: 22%;
  }
  .twae-vertical.twae-one-sided-wrapper:after,
  .twae-vertical.twae-one-sided-wrapper:before {
    left: calc(23% - 1px);
  }
}
