.wdp-wrapper {
  font-size: 13px;
}

.wdp-wrapper {
  background: #ffffff;
}

.wdp-wrapper.wdp-border {
  border: 1px solid #efeeee;
}

.wdp-wrapper .wdp-wrap-comments a:link,
.wdp-wrapper .wdp-wrap-comments a:visited {
  color: #e08fa7;
}

.wdp-wrapper .wdp-wrap-link a.wdp-link {
  color: #e08fa7;
}

.wdp-wrapper .wdp-wrap-link a.wdp-link.wdp-icon-link-true .wdpo-comment {
  color: #e08fa7;
}

.wdp-wrapper .wdp-wrap-link a.wdp-link:hover {
  color: #e08fa7;
}

.wdp-wrapper .wdp-wrap-link a.wdp-link:hover .wdpo-comment {
  color: #e08fa7;
}

.wdp-wrapper .wdp-wrap-form {
  border-top: 1px solid #efeeee;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form textarea.wdp-textarea {
  border: 1px solid #efeeee;

  background: #ffffff;

  color: #44525f;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-info
  .wdp-post-author {
  background: #dd9933;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form input[type="text"] {
  border: 1px solid #efeeee;

  background: #ffffff;

  color: #44525f;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form input.wdp-input:focus,
.wdp-wrapper .wdp-wrap-form .wdp-container-form textarea.wdp-textarea:focus {
  border-color: #64b6ec;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form input[type="submit"],
.wdp-wrapper
  .wdp-wrap-form
  .wdp-container-form
  input[type="button"].wdp-form-btn {
  color: #ffffff;

  background: #e08fa7;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form input[type="submit"]:hover,
.wdp-wrapper
  .wdp-wrap-form
  .wdp-container-form
  input[type="button"].wdp-form-btn:hover {
  background: #e08fa7;
}

.wdp-wrapper .wdp-wrap-form .wdp-container-form .wdp-captcha .wdp-captcha-text {
  color: #44525f;
}

.wdp-wrapper .wdp-media-btns a > span {
  color: #e08fa7;
}

.wdp-wrapper .wdp-media-btns a > span:hover {
  color: #e08fa7;
}

.wdp-wrapper .wdp-comment-status {
  border-top: 1px solid #efeeee;
}

.wdp-wrapper .wdp-comment-status p.wdp-ajax-success {
  color: #81d742;
}

.wdp-wrapper .wdp-comment-status p.wdp-ajax-error {
  color: #c85951;
}

.wdp-wrapper .wdp-comment-status.wdp-loading > span {
  color: #e08fa7;
}

.wdp-wrapper ul.wdp-container-comments {
  border-top: 1px solid #efeeee;
}

.wdp-wrapper ul.wdp-container-comments li.wdp-item-comment {
  border-bottom: 1px solid #efeeee;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  ul
  li.wdp-item-comment {
  border-top: 1px solid #efeeee;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-info
  a.wdp-commenter-name {
  color: #e08fa7 !important;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-info
  a.wdp-commenter-name:hover {
  color: #e08fa7 !important;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-info
  .wdp-comment-time {
  color: #9da8b7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-text
  p {
  color: #44525f;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-actions
  a {
  color: #e08fa7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-actions
  a:hover {
  color: #e08fa7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-link
  > span {
  color: #c9cfd7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-link
  > span:hover {
  color: #3d7dbc;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-count {
  color: #9da8b7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-count.wdp-rating-positive {
  color: #2c9e48;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-count.wdp-rating-negative {
  color: #d13d3d;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content
  .wdp-comment-rating
  .wdp-rating-count.wdpo-loading {
  color: #c9cfd7;
}

.wdp-wrapper ul.wdp-container-comments a.wdp-load-more-comments:hover {
  color: #e08fa7;
}

.wdp-wrapper .wdp-counter-info {
  color: #9da8b7;
}

.wdp-wrapper .wdp-holder span {
  color: #e08fa7;
}

.wdp-wrapper .wdp-holder a,
.wdp-wrapper .wdp-holder a:link,
.wdp-wrapper .wdp-holder a:visited {
  color: #e08fa7;
}

.wdp-wrapper .wdp-holder a:hover,
.wdp-wrapper .wdp-holder a:link:hover,
.wdp-wrapper .wdp-holder a:visited:hover {
  color: #e08fa7;
}

.wdp-wrapper .wdp-holder a.jp-previous.jp-disabled,
.wdp-wrapper .wdp-holder a.jp-previous.jp-disabled:hover,
.wdp-wrapper .wdp-holder a.jp-next.jp-disabled,
.wdp-wrapper .wdp-holder a.jp-next.jp-disabled:hover {
  color: #9da8b7;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-avatar
  img {
  max-width: 28px;

  max-height: 28px;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  .wdp-comment-content {
  margin-left: 38px;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  ul
  .wdp-comment-avatar
  img {
  max-width: 24px;

  max-height: 24px;
}

.wdp-wrapper
  ul.wdp-container-comments
  li.wdp-item-comment
  ul
  ul
  .wdp-comment-avatar
  img {
  max-width: 21px;

  max-height: 21px;
}
